﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2>sửa phiếu chi</h2>
<%= render "form" %>
<%=link_to 'Hiến thị phiếu chi vừa sửa', @chit %> <!--hiện lại nội dung của phiếu mình định sửa-->