﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2>Danh sách phiếu chi</h2>

<html>
<body>
<table width="1000px">
	<% @chits.each do |chit| %>
	<tr>

	    <td><%= chit.serial %></td>
		<td><li><%=link_to chit.name, chit %></li></td>
		<td><%= chit.reason %></td>
		<td><%= chit.payment %></td>
		<td><%= chit.day %></td>
		<td><%= chit.month %></td>
		<td><%= chit.year %></td>
		<td><%= chit.dean %></td>
		<td><%= chit.tabolator %></td>
		<td><%= chit.ability %></td>
		<td><%= chit.payer %></td>
		<td><%= chit.cashier %></td>
	</tr>
    <% end %>
</table>

<%  total = 0
    @chits.each do |chit|
	   if chit.payment != nil
	   payment = chit.payment
	   total += payment
	   else
	   
	   end
	end
%>
	 
<h1> Tổng chi: <%= total %></h1>
<body>
</html>
<%=link_to 'Quay lại trang chủ ', :action=>'start' %>