﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<% @title= "hovaten-chit-account" %>-->
<% title(@chit.name, "Chits") %>
<h2>PHIẾU CHI MỚI</h2>
<p>Số phiếu: <%=@chit.serial %></p>
<p>Tên người tạo phiếu: <%=@chit.name %></p>
<p>Địa chỉ: <%=@chit.address %></p>
<p>Lý do nộp: <%=@chit.reason %></p>
<p>Số tiền: <%=@chit.payment %></p>
<p>Ngày: <%=@chit.day %></p>
<p>Tháng: <%=@chit.month %></p>
<p>Năm: <%=@chit.year %></p>
<p>Nguồn kinh phí: <%=@chit.ability %></p>
<p>Chủ nhiệm khoa: <%=@chit.dean %></p>
<p>Người lập phiếu: <%=@chit.tabolator %></p>
<p>Người nộp tiền: <%=@chit.payer %></p>
<p>Thủ quỹ: <%=@chit.cashier %></p>

<%=link_to "Phiếu chi mới",new_chit_path(@chit) %>  |
<%=link_to 'Quay lại danh sách phiếu chi', :action=>'index' %>  |
<%=link_to 'Quay lại trang chủ', :action=>'start' %>
<%=link_to "sửa phiếu chi",edit_chit_path(@chit)  %>
<%= link_to "xóa phiếu chi", chit_path(@chit), method: :delete, data: { confirm: "Bạn có chắc muốn xóa phiếu chi này?"} %>
<%=link_to "thanh toán",{:sophieu=>@chit.serial, :controller=>"bills",:action=>"new"} %>