﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%=link_to "phiếu chi mới",new_chit_path %>
<%=link_to "Danh sách phiếu chi",chits_path %>
<%=link_to "phiếu thu mới",new_bill_path %>
<%=link_to "Danh sách phiếu thu",bills_path %>