﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2>Danh sách phiếu thu</h2>

<html>
<body>
<table width="1000px">
	<% @bills.each do |bill| %>
	<tr>

	    <td><%= bill.serial %></td>
		<td><li><%=link_to bill.name, bill %></li></td>
		<td><%= bill.reason %></td>
		<td><%= bill.payment %></td>
		<td><%= bill.dean %></td>
		<td><%= bill.tabolator %></td>
		<td><%= bill.ability %></td>
		<td><%= bill.payer %></td>
		<td><%= bill.cashier %></td>
	</tr>
    <% end %>
</table>

<%  total = 0
    @bills.each do |bill|
	   if bill.payment != nil
	   payment = bill.payment
	   total += payment
	   else
	   
	   end
	end
%>
	 
<h1> Tổng thu: <%= total %></h1>
<body>
</html>
<%=link_to 'Quay về trang chủ', :controller=>"chits", :action=>'start' %>