﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<h2>PHIẾU THU MỚI</h2>-->
<p>Số phiếu: <%=@bill.serial %></p>
<p>Tên người nộp tiền: <%=@bill.name %></p>
<p>Địa chỉ: <%=@bill.address %></p>
<p>Lý do nộp: <%=@bill.reason %></p>
<p>Số tiền: <%=@bill.payment %></p>
<p>Nguồn kinh phí: <%=@bill.ability %></p>
<p>Chủ nhiệm khoa: <%=@bill.dean %></p>
<p>Người lập phiếu: <%=@bill.tabolator %></p>
<p>Người nộp tiền: <%=@bill.payer %></p>
<p>Thủ quỹ: <%=@bill.cashier %></p>

<%=link_to " sửa phiếu thu", edit_bill_path(@bill) %>
<%= link_to "xóa phiếu thu", bill_path(@bill), method: :delete, data: { confirm: "Bạn có chắc muốn xóa phiếu thu này?"} %>
<%=link_to 'Quay lại danh sách phiếu thu', :action=>'index' %>  
<%=link_to 'Quay về trang chủ',:controller=>"chits", :action=>'start' %>
